svg {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -360px;
    cursor: url("../circle.png"), auto;
}
body {
    width: 750px;
    margin: 10px auto;
    font-family: "Helvetica"
}
.bubble {
    fill: red;
}
.blox {
    fill: lightgrey;
}
a#link {
    position: absolute;
    bottom: 10px;
    left: 48%;
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 2px;
}
h1, h3 {
    text-align: center;
}
.pure-form-stacked label, .pure-button{
  margin-top: 15px;
}

h2 {
  margin-bottom: 0;
}

figure{
  float: left;
  margin: 0 50px 15px 0;
}

figcaption{
  margin: 5px 0;
}
